#cloud-config
write_files:
  - content: |
      {% if image is defined and image.endswith("gpu") -%}
      # Advertise the GPUs
      use feature : GPUs
      GPU_DISCOVERY_EXTRA = -extra
      {% endif -%}
      GalaxyTraining = {{ "training" in name }}
      GalaxyGroup = "{{ group }}"
      GalaxyCluster = "denbi"
      GalaxyDockerHack = {{ docker }}
      STARTD_ATTRS = GalaxyTraining, GalaxyGroup, GalaxyCluster, GalaxyDockerHack
      Rank = StringListMember(MY.GalaxyGroup, TARGET.Group)
      BASE_CGROUP = htcondor
      CGROUP_MEMORY_LIMIT_POLICY = hard
      RESERVED_MEMORY = 2048
    owner: root:root
    path: /etc/condor/config.d/99-cloud-init.conf
    permissions: "0644"
  - content: |
      [[outputs.influxdb]]
        urls = ["https://influxdb.galaxyproject.eu:8086"]
        database = "{{ influxdb.database }}"
        username = "{{ influxdb.username }}"
        password = "{{ influxdb.password }}"
    owner: telegraf:telegraf
    path: /etc/telegraf/telegraf.d/output.conf
    permissions: "0640"
  - content: |
      /data           /etc/auto.data          nfsvers=3
      /-              /etc/auto.usrlocal      nfsvers=3
    owner: root:root
    path: /etc/auto.master.d/data.autofs
    permissions: "0644"
  - content: |
      {% for mount in dnb.values() -%}
        {{ mount.name }}	-{{ mount.nfs_options | join(',') }}	{{ mount.export }}
      {% endfor -%}
      {% for mount in jwd.values() -%}
        {{ mount.name }}	-{{ mount.nfs_options | join(',') }}	{{ mount.export }}
      {% endfor %}
      {% for mount in cache.values() -%}
        {{ mount.name }}	-{{ mount.nfs_options | join(',') }}	{{ mount.export }}
      {% endfor %}
      {% for mount in misc.values() -%}
        {{ mount.name }}	-{{ mount.nfs_options | join(',') }}	{{ mount.export }}
      {% endfor %}
    owner: root:root
    path: /etc/auto.data
    permissions: "0644"
  - content: |
      {% for mount in tools.values() -%}
        {{ mount.path }}      -{{ mount.nfs_options | join(',') }}		{{ mount.export }}
      {% endfor -%}
        {{ sync.gxkey.path }}	-{{ sync.gxkey.nfs_options | join(',') }}	{{ sync.gxkey.export }}
    owner: root:root
    path: /etc/auto.usrlocal
    permissions: "0644"
